{{ [1,2] | add(1,2) }}

{% extends "base.njk" %}

{% block content %}
This is just the about page
{% endblock %}
{# 
{% block footer %}
  {% block cat %} #}
  {% set value = [1,2,3] %}
  {% for anything in value %}
    {% block cat %}
      test
    {% endblock %}
  {% endfor %}
  {% macro anything() %}
  {% endmacro %}
  {% call anything() %}
  {% endcall %}

  {% with anything() %}
  {% endwith %}
{{ super() }}
You really should read this!
{% set poop = "hello",extraval = "meow" %}  
{{ poop }}
{{ extraval }}
{# {% endblock %}
{% endblock %} #}

{{ add(1,2) }}
{{ add(1,2,'hello') }}

{{ [1,2,3] | add }}
{{ [1,2,3] | add(10) }}

{# Comment is 

{{ add(1,2) }}
{{ add(1,2) }}
{{ add(1,2) }}

#}