<html>

Hello
world 
from same
"meow"
"woof"
"YAY"

{# Hello world
<div id="dynamic">Inside div</div> #}





{# {% block content %} 
Hello, {{ username | default('poop') | safe }}! This is just some content.

<div id="dynamic"></div>
{% endblock %} #}

</html>